# Assignment 2

In [1]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv('StudentsPerformance.csv')

In [200]:
#Part 2

scoreavgs = pd.Series()

for x in range(len(data)):
    savg = np.average(data.iloc[x:x+1,5:])
    scoreavgs[x] = savg

data["Score Averages"] = round(scoreavgs, 2)
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Score Averages
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33
4,male,group C,some college,standard,none,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00
996,male,group C,high school,free/reduced,none,62,55,55,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,65.00
998,female,group D,some college,standard,completed,68,78,77,74.33
999,female,group D,some college,free/reduced,none,77,86,86,83.00

In [216]:
# Part 2 

#Test prep Course, this commented out one works, but is completely unnessicary lol.
'''
completed = pd.Series()
notCompleted = pd.Series()
y = 0 
z = 0

for x in range(len(data)):
    if data["test preparation course"][x] == "completed":
        completed[y] = data["Score Averages"][x]
        y += 1
    else:
        notCompleted[z] = data["Score Averages"][x]
        z += 1
        pass
# 'do not need to store in table:'
print(f'completed practice  avg: {round(np.average(completed),2)}')
print(f'not completed practice  avg: {round(np.average(notCompleted),2)}')
'''

print(round(data.groupby("test preparation course")["Score Averages"].mean(),2))
print()

# Parnetal Level of education
print(round(data.groupby("parental level of education")['Score Averages'].mean(),2))

test preparation course
completed    72.67
none         65.04
Name: Score Averages, dtype: float64

parental level of education
associate's degree    69.57
bachelor's degree     71.92
high school           63.10
master's degree       73.60
some college          68.48
some high school      65.11
Name: Score Averages, dtype: float64

In [290]:

grades = ['A','B','C','D']
thresholds = [90,80,70,60]

gd = pd.Series()


for x in range(len(data)):
    if data["Score Averages"][x] >= 90: gd[x] = 'A'
    elif data["Score Averages"][x] >= 80: gd[x] = 'B'
    elif data["Score Averages"][x] >= 70: gd[x] = 'C'
    elif data["Score Averages"][x] >= 60: gd[x] = 'D'
    else: gd[x] = 'F'
    
data["Grades"] = gd

malegroup = data.query('gender == "male"')
femalegroup = data.query('gender == "female"')

print("Male Group")
print(malegroup.groupby('Grades').count()['gender'])

print()

print("Female Group")
print(femalegroup.groupby('Grades').count()['gender'])

Male Group
Grades
A     14
B     66
C    111
D    130
F    161
Name: gender, dtype: int64

Female Group
Grades
A     38
B     80
C    150
D    126
F    124
Name: gender, dtype: int64

In [297]:
#part 4
data.to_json(r'desktop/file.json')